@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Serif:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

:root {
    --main-text-color: #FFE7D2;
    --highlight-color: #997600;
    --header-text-font: 'Roboto Slab', serif;
    --in-game-text-font: 'Roboto Serif', serif;
    --data-text-font: 'Roboto Mono', monospace;
    --functional-text-font: 'Roboto Slab', monospace;
    --background-color: #002727;
    --border-radius: 20px;
    --far-background-color: #091616;
    --card-background-color: #102828;
    --info-module-background-color: #191C1C;
    --button-background-color: #383630;
}

body {
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
    background-color: var(--background-color);
}

button {
    color: var(--main-text-color);
    border-radius: var(--border-radius);
    border: 0px;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: var(--functional-text-font);
}


#chat-title {
    font-size: 18px;
    color: #EEE8CF;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: var(--header-text-font);
}

.page_container {
    display: flex;
    flex-direction: column;
    position: relative;
}


.background-image0 {
    position: fixed;
    top: 0;
    left: -5vw;
    width: 110vw;
    height: 100vh;
    z-index: -2;
    opacity: 1;
    background-size: 100% auto;
    background-repeat: repeat-y;
    padding-top: 0;
}

.background-image1, .background-image2, .background-image3, .background-image4, .background-image5,
.background-image6, .background-image7, .background-image8, .background-image9,
.background-image10 {
    position: fixed;
    top: 0;
    left: -5vw;
    width: 110vw;
    height: 100vh;
    z-index: -2;
    opacity: 0;
    background-size: 100% auto;
    background-repeat: repeat-y;
    padding-top: 0;
}

.background-image1 {
    opacity: 1;
    height: 150vh;
    animation: cycleBackgrounds1 100s infinite none;
    animation-timing-function: linear;
}

.background-image2 {
    animation: cycleBackgrounds2 100s infinite none;
    animation-timing-function: linear;
}

.background-image3 {
    animation: cycleBackgrounds3 100s infinite none;
    animation-timing-function: linear;
}

.background-image4 {
    animation: cycleBackgrounds4 100s infinite none;
    animation-timing-function: linear;
}

.background-image5 {
    animation: cycleBackgrounds5 100s infinite none;
    animation-timing-function: linear;
    height: 150vh;
}

.background-image6 {
    animation: cycleBackgrounds6 100s infinite none;   
    animation-timing-function: linear;
    height: 150vh;
}

.background-image7 {
    animation: cycleBackgrounds7 100s infinite none;
    animation-timing-function: linear;
}

.background-image8 {
    animation: cycleBackgrounds8 100s infinite none;
    animation-timing-function: linear;
}

.background-image9 {
    animation: cycleBackgrounds9 100s infinite none;
    animation-timing-function: linear;
    height: 400vh;
}

.background-image10 {
    animation: cycleBackgrounds10 100s infinite none;
    animation-timing-function: linear;
}

@keyframes cycleBackgrounds1 {
    0% {
        opacity: 1;
        transform: translateY(-50px);
    }
    10% {
        opacity: 1;
        transform: translateY(-250px);
    } 

    12% {
        opacity: 0;
        transform: translateY(-290px);
    }
}

@keyframes cycleBackgrounds2 {
    0% {
        transform: translateX(0%);
    }
    8% {
        opacity: 0;
        transform: translateX(-120px);
    }
    10% {
        opacity: 1;
        transform: translateX(-100px);
    } 

    20% {
        opacity: 1;
        transform: translateX(100px);
    } 

    22% {
        opacity: 0;
        transform: translateX(120px);
    }
}

@keyframes cycleBackgrounds3 {
    0% {
        transform: translateX(0px);
    }
    18% {
        opacity: 0;
        transform: translateX(60px);
    }
    20% {
        opacity: 1;
        transform: translateX(40px);
    } 

    30% {
        opacity: 1;
        transform: translateX(-120px);
    } 

    32% {
        opacity: 0;
        transform: translateX(-140px);
    }
}

@keyframes cycleBackgrounds4 {
    0% {
        transform: translateX(0%);
    }
    28% {
        opacity: 0;
        transform: translateX(120px);
    }
    30% {
        opacity: 1;
        transform: translateX(100px);
    } 

    40% {
        opacity: 1;
        transform: translateX(-100px);
    } 

    42% {
        opacity: 0;
        transform: translateX(-120px);
    }
}
    

@keyframes cycleBackgrounds5 {
    0% {
        transform: translateY(0%);
    }
    38% {
        opacity: 0;
        transform: translateY(0px);
    }
    40% {
        opacity: 1;
        transform: translateY(-30px);
    } 

    50% {
        opacity: 1;
        transform: translateY(-180px);
    } 

    52% {
        opacity: 0;
        transform: translateY(-210px);
    }
}

@keyframes cycleBackgrounds6 {
    0% {
        transform: translateY(-120px);
    }
    48% {
        opacity: 0;
        transform: translateY(-120px);
    }
    50% {
        opacity: 1;
        transform: translateY(-100px);
    } 

    60% {
        opacity: 1;
        transform: translateY(0px);
    } 

    62% {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes cycleBackgrounds7 {
    0% {
        transform: translateY(0%);
    }
    58% {
        opacity: 0;
        transform: translateX(-120px);
    }
    60% {
        opacity: 1;
        transform: translateX(-100px);
    } 

    70% {
        opacity: 1;
        transform: translateX(100px);
    } 

    72% {
        opacity: 0;
        transform: translateX(120px);
    }
}


@keyframes cycleBackgrounds8 {
    0% {
        transform: translateX(0%);
    }
    68% {
        opacity: 0;
        transform: translateX(120px);
    }
    70% {
        opacity: 1;
        transform: translateX(100px);
    } 

    80% {
        opacity: 1;
        transform: translateX(0px);
    } 

    82% {
        opacity: 0;
        transform: translateX(-20px);
    }
}



@keyframes cycleBackgrounds9 {
    0% {
        transform: translateY(0%);
    }
    78% {
        opacity: 0;
        transform: translateY(0px);
    }
    80% {
        opacity: 1;
        transform: translateY(-100px);
    } 

    90% {
        opacity: 1;
        transform: translateY(-800px);
    } 

    92% {
        opacity: 0;
        transform: translateY(-900px);
    }
}

@keyframes cycleBackgrounds10 {
    0% {
        transform: translateX(0%);
    }
    88% {
        opacity: 0;
        transform: translateX(-120px);
    }
    90% {
        opacity: 1;
        transform: translateX(-100px);
    } 

    98% {
        opacity: 1;
        transform: translateX(60px);
    } 

    100% {
        opacity: 0;
        transform: translateX(80px);
    }
}

.hidden {
    display: none !important;
}

    
.info-text-style {
    font-family: var(--data-text-font);
    font-size: .75rem;
    line-height: 1.125rem;
    font-weight: 300;
}

.primary-text-style {
    font-family: var(--in-game-text-font);
    font-size: 1.125rem;
    line-height: 1.6875rem;
    font-weight: 400;
}

.conversation-body-text {
    display: block;
    margin-top: 1.875rem;
    margin-bottom: 2.5rem;
}

.conversation-data-text {
    margin-top: 1.875rem;
    padding-bottom: 2.5rem;
}

.back-button {
    color: #EEE8CF;
    font-size: 12px;
    text-decoration: underline;
    font-weight: 400;
    font-family: var(--functional-text-font);
    transition: color 0.5s ease, color 0.5s ease;
    margin-top: auto;
}

.back-button:hover {
    color: #997600;
    transition: color 0.5s ease, color 0.5s ease;
}

/* Header bar */

.page-title-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: left;
    z-index: 10;
    background-color: transparent;
    pointer-events: none;
}

.header-bar-left {
    margin-right: 20px;
}

.header-bar-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.page-title-bar > * {
    pointer-events: auto;
}
