@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Serif:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

:root {
    --main-text-color: #FFE7D2;
    --highlight-color: #997600;
    --header-text-font: 'Roboto Slab', serif;
    --in-game-text-font: 'Roboto Serif', serif;
    --data-text-font: 'Roboto Mono', monospace;
    --functional-text-font: 'Roboto Slab', monospace;
    --background-color: #002727;
    --border-radius: 20px;
    --far-background-color: #091616;
    --card-background-color: #102828;
    --info-module-background-color: #191C1C;
    --button-background-color: #383630;
}

body {
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
    background-color: var(--background-color);
}

button {
    color: var(--main-text-color);
    border-radius: var(--border-radius);
    border: 0px;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: var(--functional-text-font);
}


#chat-title {
    font-size: 18px;
    color: #EEE8CF;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: var(--header-text-font);
}

.page_container {
    display: flex;
    flex-direction: column;
    position: relative;
}


.background-image0 {
    position: fixed;
    top: 0;
    left: -5vw;
    width: 110vw;
    height: 100vh;
    z-index: -2;
    opacity: 1;
    background-size: 100% auto;
    background-repeat: repeat-y;
    padding-top: 0;
}



.background-image1, .background-image2, .background-image3, .background-image4, .background-image5,
.background-image6, .background-image7, .background-image8, .background-image9,
.background-image10 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    opacity: 0;
    background-repeat: repeat-y;
    padding-top: 0;
}


/* For landscape orientation (width > height) */
@media (aspect-ratio: 1/1) or (min-aspect-ratio: 1/1) {
    .background-image0,
    .background-image1,
    .background-image2,
    .background-image3,
    .background-image4,
    .background-image5,
    .background-image6,
    .background-image7,
    .background-image8,
    .background-image9,
    .background-image10 {
        background-size: 100% auto;
        background-position: 0% 50%;
        width: 136vw;
    }
}

/* For portrait orientation (height > width) */
@media (max-aspect-ratio: 1/1) {
    .background-image0,
    .background-image1,
    .background-image2,
    .background-image3,
    .background-image4,
    .background-image5,
    .background-image6,
    .background-image7,
    .background-image8,
    .background-image9,
    .background-image10 {
        background-size: auto 100%;
        background-position: 50% 0%;
        height: 136vh;
    }
}

@media (aspect-ratio: 1/1) or (min-aspect-ratio: 1/1) {
    .background-image1 {
        animation: cycleBackgrounds1_horizontal 100s infinite none;
        animation-timing-function: linear;
    }
}

@media (max-aspect-ratio: 1/1) {
    .background-image1 {
            animation: cycleBackgrounds1_vertical 100s infinite none;
            animation-timing-function: linear;
        }
}

@keyframes cycleBackgrounds1_vertical {
    0% {
        opacity: 1;
        transform: translateY(-31vh);
    }
    10% {
        opacity: 1;
        transform: translateY(-6vh);
    } 

    12% {
        opacity: 0;
        transform: translateY(0vh);
    }

    98% {
        opacity: 0;
        transform: translateY(-36vh);
    }

    100% {
        opacity: 1;
        transform: translateY(-31vh);
    }
}

@keyframes cycleBackgrounds1_horizontal {
    0% {
        opacity: 1;
        transform: translateX(-31vw);
    }
    10% {
        opacity: 1;
        transform: translateX(-6vw);
    } 

    12% {
        opacity: 0;
        transform: translateX(0vw);
    }

    98% {
        opacity: 0;
        transform: translateX(-36vw);
    }

    100% {
        opacity: 1;
        transform: translateX(-31vw);
    }
}



@media (aspect-ratio: 1/1) or (min-aspect-ratio: 1/1) {
    .background-image2 {
        animation: cycleBackgrounds2_horizontal 100s infinite none;
        animation-timing-function: linear;
    }
}

@media (max-aspect-ratio: 1/1) {
    .background-image2 {
            animation: cycleBackgrounds2_vertical 100s infinite none;
            animation-timing-function: linear;
        }
}

@keyframes cycleBackgrounds2_vertical {
    8% {
        opacity: 0;
        transform: translateY(0vh);
    }
    10% {
        opacity: 1;
        transform: translateY(-5vh);
    } 

    20% {
        opacity: 1;
        transform: translateY(-31vh);
    } 

    22% {
        opacity: 0;
        transform: translateY(-36vh);
    }
}

@keyframes cycleBackgrounds2_horizontal {
    8% {
        opacity: 0;
        transform: translateX(0vw);
    }
    10% {
        opacity: 1;
        transform: translateX(-5vw);
    } 

    20% {
        opacity: 1;
        transform: translateX(-31vw);
    } 

    22% {
        opacity: 0;
        transform: translateX(-36vw);
    }
}


@media (aspect-ratio: 1/1) or (min-aspect-ratio: 1/1) {
    .background-image3 {
        animation: cycleBackgrounds3_horizontal 100s infinite none;
        animation-timing-function: linear;
    }
}

@media (max-aspect-ratio: 1/1) {
    .background-image3 {
            animation: cycleBackgrounds3_vertical 100s infinite none;
            animation-timing-function: linear;
        }
}

@keyframes cycleBackgrounds3_vertical {
    18% {
        opacity: 0;
        transform: translateY(-36vh);
    }
    20% {
        opacity: 1;
        transform: translateY(-31vh);
    } 

    30% {
        opacity: 1;
        transform: translateY(-5vh);
    } 

    32% {
        opacity: 0;
        transform: translateY(0vh);
    }
}

@keyframes cycleBackgrounds3_horizontal {
    18% {
        opacity: 0;
        transform: translateX(-36vw);
    }
    20% {
        opacity: 1;
        transform: translateX(-31vw);
    } 

    30% {
        opacity: 1;
        transform: translateX(-5vw);
    } 

    32% {
        opacity: 0;
        transform: translateX(0vw);
    }
}

@media (aspect-ratio: 1/1) or (min-aspect-ratio: 1/1) {
    .background-image4 {
        animation: cycleBackgrounds4_horizontal 100s infinite none;
        animation-timing-function: linear;
    }
}

@media (max-aspect-ratio: 1/1) {
    .background-image4 {
            animation: cycleBackgrounds4_vertical 100s infinite none;
            animation-timing-function: linear;
        }
}

@keyframes cycleBackgrounds4_vertical {
    28% {
        opacity: 0;
        transform: translateY(0vh);
    }
    30% {
        opacity: 1;
        transform: translateY(-5vh);
    } 

    40% {
        opacity: 1;
        transform: translateY(-31vh);
    } 

    42% {
        opacity: 0;
        transform: translateY(-36vh);
    }
}

@keyframes cycleBackgrounds4_horizontal {
    28% {
        opacity: 0;
        transform: translateX(0vw);
    }
    30% {
        opacity: 1;
        transform: translateX(-5vw);
    } 

    40% {
        opacity: 1;
        transform: translateX(-31vw);
    } 

    42% {
        opacity: 0;
        transform: translateX(-36vw);
    }
}



@media (aspect-ratio: 1/1) or (min-aspect-ratio: 1/1) {
    .background-image5 {
        animation: cycleBackgrounds5_horizontal 100s infinite none;
        animation-timing-function: linear;
    }
}

@media (max-aspect-ratio: 1/1) {
    .background-image5 {
            animation: cycleBackgrounds5_vertical 100s infinite none;
            animation-timing-function: linear;
        }
}

@keyframes cycleBackgrounds5_vertical {
    38% {
        opacity: 0;
        transform: translateY(-36vh);
    }
    40% {
        opacity: 1;
        transform: translateY(-31vh);
    } 

    50% {
        opacity: 1;
        transform: translateY(-5vh);
    } 

    52% {
        opacity: 0;
        transform: translateY(0vh);
    }
}

@keyframes cycleBackgrounds5_horizontal {
    38% {
        opacity: 0;
        transform: translateX(-36vw);
    }
    40% {
        opacity: 1;
        transform: translateX(-31vw);
    } 

    50% {
        opacity: 1;
        transform: translateX(-5vw);
    } 

    52% {
        opacity: 0;
        transform: translateX(0vw);
    }
}

@media (aspect-ratio: 1/1) or (min-aspect-ratio: 1/1) {
    .background-image6 {
        animation: cycleBackgrounds6_horizontal 100s infinite none;
        animation-timing-function: linear;
    }
}

@media (max-aspect-ratio: 1/1) {
    .background-image6 {
            animation: cycleBackgrounds6_vertical 100s infinite none;
            animation-timing-function: linear;
        }
}

@keyframes cycleBackgrounds6_vertical {
    48% {
        opacity: 0;
        transform: translateY(0vh);
    }
    50% {
        opacity: 1;
        transform: translateY(-5vh);
    } 

    60% {
        opacity: 1;
        transform: translateY(-31vh);
    } 

    62% {
        opacity: 0;
        transform: translateY(-36vh);
    }
}

@keyframes cycleBackgrounds6_horizontal {
    48% {
        opacity: 0;
        transform: translateX(0vw);
    }
    50% {
        opacity: 1;
        transform: translateX(-5vw);
    } 

    60% {
        opacity: 1;
        transform: translateX(-31vw);
    } 

    62% {
        opacity: 0;
        transform: translateX(-36vw);
    }
}

@media (aspect-ratio: 1/1) or (min-aspect-ratio: 1/1) {
    .background-image7 {
        animation: cycleBackgrounds7_horizontal 100s infinite none;
        animation-timing-function: linear;
    }
}

@media (max-aspect-ratio: 1/1) {
    .background-image7 {
            animation: cycleBackgrounds7_vertical 100s infinite none;
            animation-timing-function: linear;
        }
}

@keyframes cycleBackgrounds7_vertical {
    58% {
        opacity: 0;
        transform: translateY(-36vh);
    }
    60% {
        opacity: 1;
        transform: translateY(-31vh);
    } 

    70% {
        opacity: 1;
        transform: translateY(-5vh);
    } 

    72% {
        opacity: 0;
        transform: translateY(0vh);
    }
}

@keyframes cycleBackgrounds7_horizontal {
    58% {
        opacity: 0;
        transform: translateX(-36vw);
    }
    60% {
        opacity: 1;
        transform: translateX(-31vw);
    } 

    70% {
        opacity: 1;
        transform: translateX(-5vw);
    } 

    72% {
        opacity: 0;
        transform: translateX(0vw);
    }
}

@media (aspect-ratio: 1/1) or (min-aspect-ratio: 1/1) {
    .background-image8 {
        animation: cycleBackgrounds8_horizontal 100s infinite none;
        animation-timing-function: linear;
    }
}

@media (max-aspect-ratio: 1/1) {
    .background-image8 {
            animation: cycleBackgrounds8_vertical 100s infinite none;
            animation-timing-function: linear;
        }
}

@keyframes cycleBackgrounds8_vertical {
    68% {
        opacity: 0;
        transform: translateY(0vh);
    }
    70% {
        opacity: 1;
        transform: translateY(-5vh);
    } 

    80% {
        opacity: 1;
        transform: translateY(-31vh);
    } 

    82% {
        opacity: 0;
        transform: translateY(-36vh);
    }
}

@keyframes cycleBackgrounds8_horizontal {
    68% {
        opacity: 0;
        transform: translateX(0vw);
    }
    70% {
        opacity: 1;
        transform: translateX(-5vw);
    } 

    80% {
        opacity: 1;
        transform: translateX(-31vw);
    } 

    82% {
        opacity: 0;
        transform: translateX(-36vw);
    }
}


@media (aspect-ratio: 1/1) or (min-aspect-ratio: 1/1) {
    .background-image9   {
        animation: cycleBackgrounds9_horizontal 100s infinite none;
        animation-timing-function: linear;
    }
}

@media (max-aspect-ratio: 1/1) {
    .background-image9 {
            animation: cycleBackgrounds9_vertical 100s infinite none;
            animation-timing-function: linear;
        }
}

@keyframes cycleBackgrounds9_vertical {
    78% {
        opacity: 0;
        transform: translateY(-36vh);
    }
    80% {
        opacity: 1;
        transform: translateY(-31vh);
    } 

    90% {
        opacity: 1;
        transform: translateY(-5vh);
    } 

    92% {
        opacity: 0;
        transform: translateY(0vh);
    }
}

@keyframes cycleBackgrounds9_horizontal {
    78% {
        opacity: 0;
        transform: translateX(-36vw);
    }
    80% {
        opacity: 1;
        transform: translateX(-31vw);
    } 

    90% {
        opacity: 1;
        transform: translateX(-5vw);
    } 

    92% {
        opacity: 0;
        transform: translateX(0vw);
    }
}

@media (aspect-ratio: 1/1) or (min-aspect-ratio: 1/1) {
    .background-image10   {
        animation: cycleBackgrounds10_horizontal 100s infinite none;
        animation-timing-function: linear;
    }
}

@media (max-aspect-ratio: 1/1) {
    .background-image10 {
            animation: cycleBackgrounds10_vertical 100s infinite none;
            animation-timing-function: linear;
        }
}

@keyframes cycleBackgrounds10_vertical {
    88% {
        opacity: 0;
        transform: translateY(0vh);
    }
    90% {
        opacity: 1;
        transform: translateY(-5vh);
    } 

    98% {
        opacity: 1;
        transform: translateY(-31vh);
    } 

    100% {
        opacity: 0;
        transform: translateY(-36vh);
    }
}

@keyframes cycleBackgrounds10_horizontal {
    88% {
        opacity: 0;
        transform: translateX(0vw);
    }
    90% {
        opacity: 1;
        transform: translateX(-5vw);
    } 

    98% {
        opacity: 1;
        transform: translateX(-31vw);
    } 

    100% {
        opacity: 0;
        transform: translateX(-36vw);
    }
}

.hidden {
    display: none !important;
}

    
.info-text-style {
    font-family: var(--data-text-font);
    font-size: .75rem;
    line-height: 1.125rem;
    font-weight: 300;
}

.primary-text-style {
    font-family: var(--in-game-text-font);
    font-size: 1.125rem;
    line-height: 1.6875rem;
    font-weight: 400;
}

.conversation-body-text {
    display: block;
    margin-top: 1.875rem;
    margin-bottom: 2.5rem;
}

.conversation-data-text {
    margin-top: 1.875rem;
    padding-bottom: 2.5rem;
}

.back-button {
    color: #EEE8CF;
    font-size: 12px;
    text-decoration: underline;
    font-weight: 400;
    font-family: var(--functional-text-font);
    transition: color 0.5s ease, color 0.5s ease;
    margin-top: auto;
}

.back-button:hover {
    color: #997600;
    transition: color 0.5s ease, color 0.5s ease;
}

/* Header bar */

.page-title-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: left;
    z-index: 10;
    background-color: transparent;
    pointer-events: none;
}

.header-bar-left {
    margin-right: 20px;
}

.header-bar-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.page-title-bar > * {
    pointer-events: auto;
}


