@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Serif:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

:root {
    --main-text-color: #FFE7D2;
    --highlight-color: #997600;
    --header-text-font: 'Roboto Slab', serif;
    --in-game-text-font: 'Roboto Serif', serif;
    --data-text-font: 'Roboto Mono', monospace;
    --functional-text-font: 'Roboto Slab', monospace;
    --background-color: #002727;
    --border-radius: 20px;
    --far-background-color: #091616;
    --card-background-color: #102828;
    --info-module-background-color: #191C1C;
    --button-background-color: #383630;
}

body {
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
    background-color: var(--background-color);
}

button {
    color: var(--main-text-color);
    border-radius: var(--border-radius);
    border: 0px;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: var(--functional-text-font);
}


#chat-title {
    font-size: 18px;
    color: #EEE8CF;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: var(--header-text-font);
}

.page_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.background-image1 {    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    z-index: -2;
    opacity: 1;
}

.background-image2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    z-index: -2;
    opacity: 0;
    animation: cycleBackgrounds2 30s infinite;
}

.background-image3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    z-index: -2;
    opacity: 0;
    animation: cycleBackgrounds3 30s infinite;
}

.background-image4 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    z-index: -2;
    opacity: 0;
    animation: cycleBackgrounds4 30s infinite;
}

@keyframes cycleBackgrounds1 {
    0%, 20% {
        opacity: 1;
    }
    25%, 95% {
        opacity: 0;
    }
}

@keyframes cycleBackgrounds2 {
    0%, 20% {
        opacity: 0;
    }
    25%, 45% {
        opacity: 1;
    }
    50%, 95% {
        opacity: 0;
    }
}

@keyframes cycleBackgrounds3 {
    0%, 45% {
        opacity: 0;
    }
    50%, 70% {
        opacity: 1;
    }
    75%, 95% {
        opacity: 0;
    }
}

@keyframes cycleBackgrounds4 {
    0%, 70% {
        opacity: 0;
    }
    75%, 95% {
        opacity: 1;
    }
}

.hidden {
    display: none !important;
}

    
.info-text-style {
    font-family: var(--data-text-font);
    font-size: .75rem;
    line-height: 1.125rem;
    font-weight: 300;
}

.primary-text-style {
    font-family: var(--in-game-text-font);
    font-size: 1.125rem;
    line-height: 1.6875rem;
    font-weight: 400;
}

.conversation-body-text {
    display: block;
    margin-top: 1.875rem;
    margin-bottom: 2.5rem;
}

.conversation-data-text {
    margin-top: 1.875rem;
    padding-bottom: 2.5rem;
}

.back-button {
    color: #EEE8CF;
    font-size: 12px;
    text-decoration: underline;
    font-weight: 400;
    font-family: var(--functional-text-font);
    transition: color 0.5s ease, color 0.5s ease;
    margin-top: auto;
}

.back-button:hover {
    color: #997600;
    transition: color 0.5s ease, color 0.5s ease;
}

/* Header bar */

.page-title-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: left;
    z-index: 10;
    background-color: transparent;
    width: 100%;
    pointer-events: none;
}

.header-bar-left {
    margin-right: 20px;
}

.header-bar-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.page-title-bar > * {
    pointer-events: auto;
}
