@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Serif:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');


.conversation-sidebar {
    flex: 0 0 250px;
    background-color: #112020;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
    color: #FFE7D2;
}

.conversation-item {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    padding: 15px;
    align-items: center;
    background-color: #182525;
    border-radius: 20px;
    color: hsla(28, 100%, 91%, 0.66);
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.conversation-item-text {
    text-align: left;
    margin-left: 20px;
    flex-grow: 1;
    line-height: 1.4;
}


.conversation-item:hover {
    background-color: #323734;
    color: #FFE7D2;

}

.conversation-item > button:hover {
    background-color: #ff0000;
}

.conversation-item.active {
    background-color:  #4B4842;
    color: #FFE7D2;
}

.conversation-item button {
    margin-left: 20px;
    font-size: 0.8em;
    border: 0px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.1);
}

.conversation-item .delete-btn {
    background-color: #dc3545;
}

.conversation-item .delete-btn:hover {
    background-color: #c82333;
}

#new-conversation-btn {
    background-color: #243838;
    width: 100%;
    height: 80px;
    margin-top: 20px;
}

#new-conversation-btn:hover {
    background-color: #996300;
}

#user-input {
    min-height: 60px;
    max-height: 200px;
    resize: none;
    overflow-y: auto;
}