#game_title {
    font-size: 80px;
    text-align:center;
    margin-top: 130px;
    margin-bottom: 100px;
    font-family: 'Roboto Serif', serif;
    color: var(--highlight-color);
}

.main_menu.page_container {
    align-items: center;
    height: 100vh;
    overflow: auto;
}

#new-conversation-btn {
    background-color: #4B4842;
    width: 600px;
    height: 80px;
    min-height: 80px;
    margin-bottom: 40px;
    font-family: var(--functional-text-font);
}

/* Add transition after a tiny delay to avoid initial animation */
#new-conversation-btn.ready-for-transition {
    transition: background-color 0.5s ease, color 0.5s ease;
}

#new-conversation-btn:hover {
    background-color: #997600;   
}

.delete-btn {
    border-radius: var(--border-radius);
    background-color: hsla(0, 0%, 100%, 0.025);
}

.delete-btn:hover {
    background-color: #c82333;
}