.prompt-column {
    flex: 1;
    padding: 20px;
    background-color: rgba(20, 20, 20, 0.9);
    color: #c8c8c8;
    display: none; /* kill this to turn right bar back on */
}

textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333333;
    border-radius: 4px;
    box-sizing: border-box;
    color: #e0e0e0;
}

.prompt-buttons {
    display: flex;
    justify-content: space-between;
}

.prompt-buttons button {
    flex: 1;
    margin-right: 5px;
}

.prompt-buttons button:last-child {
    margin-right: 0;
}

#update-status {
    margin-top: 10px;
    font-style: italic;
    color: #45a845;
}