<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Undying World</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/load_game_screen.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Roboto+Serif:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="gameplay_screen page_container">
        <div class="background-image0" style="background-image: url('/static/images/BG_Square.png');"></div>
        <div class="page-title-bar">
            <img class="header-bar-left" src="{{ url_for('static', filename='images/TheUndyingWorld.png') }}" alt="The Undying World">
            <div class="header-bar-right">
                <h2 id="chat-title">Load Game</h2>
                <a href="/" class="back-button">← Main Menu</a>
            </div>
        </div>
        <div class="choose-your-world">Pick a game state to load</div>
        <div id="saved-game-picker">
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/load_game_screen.js') }}"></script>
</body>
</html>
