<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Undying World</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_menu.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Roboto+Serif:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="main_menu page_container">
            <div id="game_title">The Undying World</div>
            <a href="/new_game"><button class="main-menu-button" id="new-conversation-btn">New Game</button></a>
            <a href="/load_game"><button class="main-menu-button" id="load-game-btn">Load Game</button></a>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/main_menu.js') }}"></script>
    <script>
        // Add transition class after a tiny delay to prevent initial animation
        window.addEventListener('load', () => {
            setTimeout(() => {
                document.getElementById('new-conversation-btn').classList.add('ready-for-transition');
            }, 100);
        });
        window.addEventListener('load', () => {
            setTimeout(() => {
                document.getElementById('load-game-btn').classList.add('ready-for-transition');
            }, 100);
        });
    </script>
</body>
</html>
