<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Undying Earth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_menu.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Roboto+Serif:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="main_menu page_container">
        
        <div class="background-image1" style="background-image: url('/static/images/1_TheEgg_Square.png');"></div>
        <div class="background-image2" style="background-image: url('/static/images/2_Artifact_Landscape.png');"></div>
        <div class="background-image3" style="background-image: url('/static/images/3_TheWorld_LandscapeXL.png');"></div>
        <div class="background-image4" style="background-image: url('/static/images/4_Combat_Landscape.png');"></div>
        <div class="background-image5" style="background-image: url('/static/images/5_Siblings_Landscape.png');"></div>
        <div class="background-image6" style="background-image: url('/static/images/6_Planter_Landscape.png');"></div>
        <div class="background-image7" style="background-image: url('/static/images/7_PeopleWalking_LandscapeXL.png');"></div>
        <div class="background-image8" style="background-image: url('/static/images/8_TheMap_LandscapeXL.png');"></div>
        <div class="background-image9" style="background-image: url('/static/images/9_Briefing_Square.png');"></div>
        <div class="background-image10" style="background-image: url('/static/images/10_Angel_Landscape.png');"></div>
        <div id="game_title">The Undying Earth</div>
        <a href="/new_game"><button class="main-menu-button" id="new-conversation-btn">New Game</button></a>
        <a href="/load_game"><button class="main-menu-button" id="load-game-btn">Load Game</button></a>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/main_menu.js') }}"></script>
    <script>
        // Add transition class after a tiny delay to prevent initial animation
        window.addEventListener('load', () => {
            setTimeout(() => {
                document.getElementById('new-conversation-btn').classList.add('ready-for-transition');
            }, 100);
        });
        window.addEventListener('load', () => {
            setTimeout(() => {
                document.getElementById('load-game-btn').classList.add('ready-for-transition');
            }, 100);
        });
    </script>
</body>
</html>
