<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Undying World</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_game_screen.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Roboto+Serif:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <div class="gameplay_screen page_container">
        <div class="page-title-bar">
            <img class="header-bar-left" src="{{ url_for('static', filename='images/TheUndyingWorld.png') }}" alt="The Undying World">
            <div class="header-bar-right">
                <h2 id="chat-title">New Adventure</h2>
                <a href="/" class="back-button">← Main Menu</a>
            </div>
        </div>
            <div class="choose-your-world">Choose Your World</div>
            <div class="world-picker">
                <div class="built-in-world">
                    <div class="world-title">Ethiopian Highlands (Addis Ababa Region)</div>
                    <div class="world-description">The egg descended upon Ethiopia, settling just north of Addis Ababa. Its opaque barrier now cuts through the capital itself, before stretching  northward into the ancient highlands. Within its circumference lie the  gleaming towers of the African Union headquarters, their modern glass  and steel structures standing in stark contrast to the traditional  Ethiopian communities that surround them.</div>
                    <button class="play-world-button">Play</button>
                </div>
                <div class="built-in-world">
                    <div class="world-title">Ethiopian Highlands (Addis Ababa Region)</div>
                    <div class="world-description">The egg descended upon Ethiopia, settling just north of Addis Ababa. Its opaque barrier now cuts through the capital itself, before stretching  northward into the ancient highlands. Within its circumference lie the  gleaming towers of the African Union headquarters, their modern glass  and steel structures standing in stark contrast to the traditional  Ethiopian communities that surround them.</div>
                    <button class="play-world-button">Play</button>
                </div>
                <div class="built-in-world">
                    <div class="world-title">Ethiopian Highlands (Addis Ababa Region)</div>
                    <div class="world-description">The egg descended upon Ethiopia, settling just north of Addis Ababa. Its opaque barrier now cuts through the capital itself, before stretching  northward into the ancient highlands. Within its circumference lie the  gleaming towers of the African Union headquarters, their modern glass  and steel structures standing in stark contrast to the traditional  Ethiopian communities that surround them.</div>
                    <button class="play-world-button">Play</button>
                </div>
                <div class="built-in-world">
                    <div class="world-title">Ethiopian Highlands (Addis Ababa Region)</div>
                    <div class="world-description">The egg descended upon Ethiopia, settling just north of Addis Ababa. Its opaque barrier now cuts through the capital itself, before stretching  northward into the ancient highlands. Within its circumference lie the  gleaming towers of the African Union headquarters, their modern glass  and steel structures standing in stark contrast to the traditional  Ethiopian communities that surround them.</div>
                    <button class="play-world-button">Play</button>
                </div>
                <div class="built-in-world">
                    <div class="world-title">Custom World</div>
                    <div class="world-description">Begin dialog with the GM immediately. When ready to generate a game world, enter the command 'run_boot_sequence' to generate a custom world.</div>
                    <button class="play-world-button">Select</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
