<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Undying Earth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_game_screen.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Roboto+Serif:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <div class="gameplay_screen page_container">
        <div class="background-image0" style="background-image: url('/static/images/BG_Square.png');"></div>
        <div class="page-title-bar">
            <img class="header-bar-left" src="{{ url_for('static', filename='images/TheUndyingWorld.png') }}" alt="The Undying World">
            <div class="header-bar-right">
                <h2 id="chat-title">New Adventure</h2>
                <a href="/" class="back-button">← Main Menu</a>
            </div>
        </div>
            <div class="choose-your-world">Choose the world for your new adventure</div>
            <div class="world-picker">
                <div id="loading-indicator" class="loading">Loading worlds...</div>
                <div class="built-in-world" style="display: none;">
                    <div class="world-title">Direct to LLM (experimental)</div>
                    <div class="world-description">Begin dialog with the GM immediately. To generate a random game world, first say something to the effect of "In the upcoming world generation sequence, please generate a game that occurs in [wherever]. Please confirm that you understand.". You might also be able to tell it other things (make this world easier than usual, etc.) although depending on the request this may or may not work. Then enter the command 'run_boot_sequence' exactly as written. If all goes well a new game world should appear in your listings in around 30 minutes.</div>
                    <button id="custom-world-button" class="play-world-button">Select</button>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/new_game_screen.js') }}"></script>
</body>
</html>
